<img id="burgerpic" src=".../public/assets/img/burger.png">
<h1>Eat Da Burger</h1>

<p>Manage quotes with this app</p>
<!-- this is index.handlebars -->
<ul>
  {{#each burgers}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>

      {{!-- Form should send a delete command to the server --}}
      
      <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
      </form>

      <a href="/quotes/{{this.id}}">Update this burger</a>
  	</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>

{{!-- Form should send a post command to the server --}}
<form class="create-form" method='POST' action="/create">

  <div class="form-group">
    <label for="quo">Burger:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form>