<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat Da Burger</title>
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
	</head>
	<body>


<img id="burgerimg" src="../public/assets/img/burger.png">
<h1>Eat-Da-Burger!</h1>
<!-- this is index.handlebars -->

<ul>
  {{#each burgers}}
  	<ul>
        {{#each burgers}}
          {{#unless devoured}}
              <li>
                <p>{{this.id}}. {{this.burger_name}}</p>      
                    <form action="/devours/{{this.id}}" method="POST">       
                      <button type="submit">Devour it!</button>
                    </form>    
              </li>
          {{/unless}}
        {{/each}}
    </ul>

    <ul>
        {{#each burgers}}
          {{#if devoured}}
              <li>
                <p>{{this.id}}. {{this.burger_name}}</p>   
              </li>      
          {{/if}}
        {{/each}}
    </ul>

<br>

{{!-- Form should send a post command to the server --}}

<form class="devour-form" method='POST' action="/add">
  <div class="form-group">
    
    <textarea id="burger" name="burger" rows="1" cols="40"></textarea>
  </div>

  <button type="submit">Add Burger</button>
</form>
	</body>

</html>